@CHARSET "EUC-KR";

@import url(http://fonts.googleapis.com/earlyaccess/jejugothic.css);

@font-face {
	font-family: 'Roboto';
	font-style: normal;
	font-weight: 400;
	src: local('Roboto-Regular'), url('./Roboto-Regular.ttf')
		format('truetype');
}

body {
	margin-top: 45px;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 0px;
	background-color: #f8f8f8;
}

#fixed-menu {
	width: 100%;
	height: 35px;
	background-color: #235292;
	position: fixed;
	top: 0px;
	left: 0px;
	z-index: 1000;
}

#main-content {
	width: 100%;
}

#logoimg {
	margin-left: 20px;
	margin-top: 5px;
	float: left;
	width: 124px;
	height: 27px;
}

.menu {
	float: left;
	margin-left: 40px;
	margin-top: 10px;
	color: #ffffff;
	font-family: 'Jeju Gothic';
}

#menu_img {
	float: right;
	margin-right: 20px;
	margin-top: 5px;
	width: 206px;
	height: 27px;
}

.qarea {
	display: flex;
	flex-direction: row;
}

#query-text {
	font-size: 1em;
	font-weight: 400;
	font-family: 'roboto', 'Jeju Gothic';
	flex: 2 0;
	height: 80px;
	resize: vertical;
	overflow: auto;
	text-overflow: ellipsis;
	animation: query-input-loaded 1s ease;
	margin-right: 15px;
	background-color: white;
	border: 1px solid #ccc;
	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
	transition: border linear .2s, box-shadow linear .2s;
	display: inline-block;
	padding: 5px 10px;
	line-height: 20px;
	color: #333;
	vertical-align: middle;
	flex-direction: column;
	resize: vertical;
	cursor: auto;
	white-space: pre-wrap;
	letter-spacing: normal;
	word-spacing: normal;
	text-transform: none;
	text-indent: 0px;
	text-shadow: none;
	text-rendering: auto;
	-webkit-writing-mode: horizontal-tb;
}

#foot {
	margin-bottom: 100%;
	background-color: white;
}

.lp-btn {
	flex: none;
}

.btn {
	font-family: 'roboto', 'Jeju Gothic';
	font-size: 12px;
}

.query-status {
	display: flex;
	flex-direction: row;
	margin: -10px 0 0 0;
	height: 60px;
	width: 100%;
}

.query-input {
	margin-bottom: 10px;
}

.rcount {
	flex: none;
	align-items: flex-start;
	align-self: baseline;
	width: 150px;
	margin-top: 10px;
	margin-bottom: 0px;
	margin-right: 20px;
	font-family: 'roboto', 'Jeju Gothic';
}

.queryID {
	flex: 3;
	align-items: flex-start;
	align-self: baseline;
	width: 150px;
	margin-top: 10px;
	margin-bottom: 0px;
	font-family: 'roboto', 'Jeju Gothic';
}

.badge {
	margin-bottom: 3px;
}

.qpage {
	flex: none;
	width: 160px;
	margin-top: 10px;
	margin-left: 20px;
	text-align: left;
	font-family: 'roboto', 'Jeju Gothic';
}

.lp-init {
	margin-top: 10px;
	width: 146px;
}

.lp-move {
	flex: none;
	width: 100px;
	margin-top:5px;
	float: right;
}

.result-panel {
	padding-bottom: 20px;
}

.table-responsive {
	background-color: white;
	overflow: scroll;
}

#result-table thead tr th {
	background-color: #EfEfEf;
	color: #000;
	font-weight: bold;
	font-size: 1.2em;
	text-align: center;
}

.query-tree {
	margin-top: -5px;
}

.tree-head {
	height: 30px;
	padding-top: 5px;
	padding-bottom: 5px;
}

#qstart {
	font-family: 'roboto';
	font-weight: bold;
	font-size: 0.85em;
}

.qbran {
	font-family: 'roboto';
	font-size: 0.9em;
	font-weight: 300;
	margin-left: 15px;
}

.qbname {
	margin-left: 5px;
}

.qbcount {
	float: right;
	margin-right: 10px;
}